<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>Pixam Express</h1>

<a href="/">Main Page</a>
<a href="/order">Order</a>
<a href="/stat">Statistics</a> <br>

<form action="/addorder" method="post">

    Name<br>
    <input type="text" name="name"><br>

    Address<br>
    <input type="text" name="address"><br>

    Which pizza would you like to order?<br>

    <input type = "radio" name = "pizza" value = "Margheritta"><label>Margheritta</label><br>
    <input type = "radio" name = "pizza" value = "Prosciutto Cotto"><label>Prosciutto Cotto</label><br>
    <input type = "radio" name = "pizza" value = "Diavola"><label>Diavola</label><br>
    <input type = "radio" name = "pizza" value = "Salame e Gorgonzola"><label>Salame e Gorgonzola</label><br>
    <input type = "radio" name = "pizza" value = "Prosciutto e Funghi"><label>Prosciutto e Funghi</label><br>
    <input type = "radio" name = "pizza" value = "4 Formaggi"><label>4 Formaggi</label><br>

    <button type = "submit">SUBMIT</button>

</form>


</body>
</html>